.industryContainer{
    margin-top: 40px;
    width: 100%;
    height: auto;
    /* margin-bottom: 100px; */
}

.industryCards {
    display: flex;
    justify-content: space-between;
  }
  
  .leftContainer,
  .rightContainer {
    flex-basis: 48%;
  }

  .rightContainer{
    margin-top: 200px;
  }
  
  /* Adjust the flex-basis value as per your requirements to control the width of the containers */
  
  @media screen and (max-width: 768px) {
    .industryCards {
      flex-wrap: wrap;
    }
  
    .leftContainer,
    .rightContainer {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
  }