.cardContainer {
    margin-right: 70px;
    margin-left: 70px;
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: space-between;
  }
  
  @media (max-width: 768px) {
    .cardContainer{
      display: block;
      padding: 20px;
      margin: 0;
      width: 100%;
      height: auto;
    }
  }